<div class="main" [ngStyle]="{'background': 'url(assets/footer-4.jpg)','background-repeat': 'no-repeat','background-size': 'cover'}">
    <div class="container-fluid footer-content col-10" >
        <hr>
        <div class="row sections">
            <div class="first-section col-4">
                <div class="footer-item">
                    <h4>Corporate Information</h4>
                    <p>Cinnamon Hotels & Resorts</p>
                    <p>John Keells Group</p>
                </div>
                <div class="footer-item">
                    <h4>Blogs</h4>
                    <p>Cinnamon Ublog</p>   
                </div>
                <div class="footer-item">
                    <h4>Careers</h4>
                    <p>Careers</p>   
                </div>
            </div> 
            <div class="first-section col-4">
                <div class="footer-item">
                    <h4>News & Awards</h4>
                    <p>News</p>
                    <p>Awards</p>
                </div>
                <div class="footer-item">
                    <h4>Corporate Governannce</h4>
                    <p>CSR</p>
                </div>
            </div>
            <div class="first-section col-4">
                <div class="footer-item">
                    <h4>Data Privacy & Security Policy</h4>
                    <p>Terms & Conditions</p>
                    <p>Privacy Statements</p>
                </div>
                <div class="footer-item">
                    <h4>Get In Touch</h4>
                    <p>Corporate Contact Information</p>
                    <p>Hotel Contact Information</p>
                </div>
                <div class="footer-item">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <img src="assets/footer/fb.png" alt="fb-icon">
                        <img src="assets/footer/linkedin.png" alt="linkedin-icon">
                        <img src="assets/footer/twitter.png" alt="twitter-icon">
                        <img src="assets/footer/instergram.png" alt="instergram-icon">
                        <img src="assets/footer/youtube.png" alt="youtube-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="subscriber">
            <h4>Get Cinnamon in your inbox</h4>
            <div class="sub-content">
                <input type="email" aria-label="email" id="email" placeholder="Email Address">
                <button type="submit"><img src="assets/sub-right-arrow.png" alt="sub-arrow"></button>
            </div> 
        </div>
        <div class="radio">
            <input type="checkbox" id="check" name="name" value="name">
            <label for="name">By checking inbox, i consent to the processing of my personal data by cinnamon for the
                 purpose and within the conditions set out in this form and the cinnamon data protection policy </label>
        </div>  
    </div>
    
    <div class="copyright" style="text-align: center;">
        <h6>Copyright@2023</h6>
    </div>
    <div class="horizontal-bottom">
        <hr>
    </div>
</div>
