<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid ">
          <div class="collapse navbar-collapse col-10" id="navbarSupportedContent">
                <div class="dropdown">
                    <button class="dropbtn">ABOUT<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">ROOMS & SUITES<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">DINING<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">EXPERIENCE<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">EVENTS<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn dropbtnnew">GALERY</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn dropbtnnew">OFFERS</button>
                </div>
                <div class="dropdown">
                    <button class="dropbtn more-button">MORE<span><mat-icon >keyboard_arrow_down</mat-icon></span></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <!-- <button class="dropbtn dropbtnnew findHotel">FIND A HOTEL</button> -->
                    <button type="button" class="btn btn-outline-secondary ms-5">FIND A HOTEL</button>
                </div>
          </div>
        </div>
      </nav>
</div>
